<div class="container">
    <h1>Spittaa Season</h1>
    <h3>Coming Soon</h3>

    <section class="albuminfo">
        <div class="row">
            <div class="col-lg-6">
                <img src="{{ site.baseurl }}/res/img/ss_single.jpg " alt="" class="img-fluid albumcover">
            </div>

            <div class="col-lg-6">
                <article class="album">
                    <p>
                        Spittaa Season in the collaborative project of Buffalo rapper, Dre Spittaa, and producer, F. Nebulous. With about two years in the making, Spittaa Season offers a mixure of hard-hitting lyricism, with odd, yet complimentary production. 
                    </p>
                    
                    <p>
                        This 10 track ep features native Buffalo MC's such as Conscious, JMHH, and Zo the Prophet. Follow <a href="#">Dre Spittaa</a> and <a href="#">F. Nebulous</a> on social media for more information on the release of Spittaa Season, and other projects. 
                    </p>

                    <h5>Track List</h5>
                    <ol>
                        <li>Summers</li>
                        <li>Spittaa Season</li>
                        <li>Illmatic Dropout</li>
                        <li>Deuce Deuce</li>
                        <li>Notoriously Speaking</li>
                        <li>"Bang!" ft. Conscious</li>
                        <li>Hyperbolic Time Chamber ft. JMHH</li>
                        <li>They</li>
                        <li>? ft. F. Nebulous</li>
                        <li>Outro</li>
                    </ol>
                </article>
                
            </div>
        </div>    
    </section>


    
</div>

