<footer class="footer">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6 col-md-6 mx-auto" style="width: 200px;">
                <img class = "footerImg" src="{{ site.baseurl }}/res/img/ds_logo_trans.png" alt="DS Logo">
            </div>

            <div class="col-lg-6 col-md-6 mx-auto" style="width: 200px;">
                <div id="social-media-links">
                    <img src="{{ site.baseurl }}/res/img/facebook.png" alt="Facebook" class="social">
                    <img src="{{ site.baseurl }}/res/img/instagram.png" alt="Instagram" class="social">
                    <br>
                    <img src="{{ site.baseurl }}/res/img/twitter.png" alt="Twitter" class="social">
                    <img src="{{ site.baseurl }}/res/img/soundcloud.png" alt="Soundcloud" class="social">                    
                </div>

            </div>
        </div>
    </div>
    <p>&copy 2017</p>
</footer>