<footer class="footer">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6 col-md-6 mx-auto py-3" style="width: 200px;">
                <img class = "footerImg" src="{{ site.baseurl }}/res/img/ds_logo_trans.png" alt="DS Logo">
            </div>

            <div class="col-lg-6 col-md-6 mx-auto" style="width: 200px;">
                <div id="social-media-links">

                    <a href="https://www.facebook.com/DreSpittaa/" target="_blank">
                        <i class="fa fa-facebook-official fa-2x" aria-hidden="true" title="Facebook"></i>
                    </a>
                    <a href="https://soundcloud.com/dre-spittaa-verse" target="_blank">
                        <i class="fa fa-soundcloud fa-2x" aria-hidden="true" title="Soundcloud"></i>
                    </a>
                    <a href="https://twitter.com/Dre_Spittaa" target="_blank">
                        <i class="fa fa-twitter fa-2x" aria-hidden="true" title="Twitter"></i>
                    </a>                        
                </div>

            </div>
        </div>
    </div>
    <p>&copy 2017</p>
</footer>